.product {
  &__price h2 {
    color: $error-color;
    span {
      color: $blue-color;
      text-decoration: line-through;
    }
  }

  &__size {
    h5 {
      font-weight: bold;
    }

    // &__sizeElement {
    //   width: 40px;
    //   height: 40px;
    //   border: 1px solid #333;
    //   padding: 7px;
    //   text-align: center;
    //   margin-right: 5px;
    // }
  }

  &__count {
    h5 {
      margin-top: 15px;
      &__crementCount {
        border-radius: 20px;
        margin: 0 10px;
      }
    }
  }

  .shopping_cart {
    &__left {
      width: 300px;

      @media (min-width: 960px) {
        width: 100%;
      }
    }
  }

  // &__socials {
  //   ul {
  //     display: flex;
  //     padding: 0;
  //     list-style: none;

  //     li {
  //       width: 30px;
  //       height: 30px;
  //       border: 1px solid;
  //       text-align: center;
  //       margin-right: 5px;
  //       border-radius: 50%;
  //       background-color: blue;
  //       color: #fff;
  //       display: flex;
  //       justify-content: center;
  //       align-items: center;
  //     }
  //   }
  // }
}
